extends dashlayout
block content
 style.
    .list{
      text-align:center;
    }
    .card-title{
      background: linear-gradient(to bottom,rgb(15, 93, 93),rgb(41, 232, 232,0.58),rgb(26, 77, 77));
      color:black;
      border:24px solid rgb(0,0,0,0.67);
      padding:8px;
      font-weight:bolder;
      font-size:28px;
      border-radius:15px 30px 15px 30px;
    }
    nav{
      font-weight:bolder;
      text-align:center;
    }
    .nav-link{
       background: linear-gradient(to bottom,rgb(15, 93, 93),rgb(41, 232, 232),rgb(26, 77, 77));
       border-radius:15px 30px 15px 30px;
       width:20%;
       padding:8px;
     //-height:8vh;
       color:black; border:teal;
     //-margin:auto;
    }
    .table{
      width:95%; 
      margin:auto;
      border:2px ridge grey; 
      padding:8px;
    }
    thead{
      font-weight:700;
       font-size:18px;  
    }
    tbody{
        font-weight:500;
         font-size:15px;
    }
    .form-group{
        transform:translateY(55px);
         margin-left:12px;
          padding:25px;
          position:absolute;
          left:0;

    }
    .btnz{
      background: linear-gradient(to bottom,rgb(61, 15, 155,0.87),rgb(177, 165, 245),rgb(69, 26, 152,0.86));
        border-radius:25px;
        padding:16px;
         font-weight:900;
         font-size:25px;
    }
    .appoint{
            background:linear-gradient(rgb(66, 65, 65),rgb(224, 216, 216),rgb(62, 61, 61));
            font-size:18px;
            font-weight:700;
            color: rgb(11, 11, 11,0.87);
        }
    .update{
      	background: linear-gradient(to bottom,rgb(21, 150, 64),rgb(180, 240, 84),rgb(26, 77, 29));	
        color:rgb(25, 90, 90);
        font-size:18px;
        font-weight:700;
    }
 header.card-header.list 
    h4.card-title List of Retired Farmer ones
    br
    table.table.table-bordered
        thead
            tr
                th Name
                th UniqueNO
                th Phone Number
                th Ward name
                th NIN No
                th Residence type
                th Activities
                th Status
                th Update
        tbody
            if retireds.length
                each retired in retireds
                  if retired.status =='Retired'
                    tr
                        td #{retired.userName+" "+retired.lastName}
                        td #{retired.uniqueNumber}
                        td #{retired.phoneNumber}
                        td #{retired.wardName}
                        td #{retired.ninNumber}
                        td #{retired.restype}
                        td #{retired.activities}
                        td #{retired.status}
                        td
                            a.button.btn.btn-primary.btn-block.update(href='/farmerOne/update/'+retired._id) Update
    div.form-row
        div.col.form-group
            a.btn.btnz(class='button' href='/aOdashboard') << Back
